@import url("style.css");
/* Top image */
.top-img {
  width: 100%;
  height: 384px;
  background: var(--deepNavy);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 10rem;
  color: var(--white);
  margin-top: 5.9rem;
}

.top-img h1 {
  font-size: 57px;
  font-weight: 700;
}

/* About image */
.about-img {
  width: 606px;
}

.about-mobile-img {
  display: none;
}
/* wht-we-do-img */
.wht-we-do-img {
  width: 574px;
}

.vision-flex {
  height: 334px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#vision-mission-mobile {
  display: none;
}

/* ______________________________________ Media Query _________________________________________

---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
___________________________________________________________________________________________________
*/

@media only screen and (min-width: 200px) and (max-width: 800px) {
  .top-img {
    height: 303px;
    padding-top: 6rem;
    margin-top: 3rem;
  }
  /* About image */
  .about-img {
    width: 325px;
  }
  /* wht-we-do-img */
  .wht-we-do-img {
    width: 327px;
  }
  .wht-we-do-container {
    padding-bottom: 1rem !important;
  }
  .top-img h1 {
    font-size: 32px;
  }
  .about-para {
    font-size: 12px;
    margin-bottom: 2.5rem;
  }
  .about-mobile-img {
    display: block;
  }
  .about-desktop-img {
    display: none;
  }
  .about-row {
    padding: 0 !important;
  }
  .about-headding {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 0.5rem !important;
  }
  .wht-we-do-row {
    padding-top: 0 !important;
  }
  .wht-we-do-headding {
    margin-bottom: 1rem !important;
  }
  .wht-we-do-para {
    margin-bottom: 3rem;
    font-size: 12px;
  }

  #vision-mission-desktop {
    display: none;
  }
  #vision-mission-mobile {
    display: block;
  }
  .about-column {
    width: 100%;
    flex: 0 0 auto;
  }
  .wht-we-do-column {
    width: 100%;
    flex: 0 0 auto;
  }
  .wht-we-do-column-right {
    text-align: center;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .about-img {
    width: 400px;
  }
  .wht-we-do-img {
    width: 400px;
  }
}
