@import url("style.css");
/* Top image */
.top-img {
  width: 100%;
  height: 384px;
  background-image: linear-gradient(to right, #01253d 20%, transparent),
    url("../images/top-img-about_us.svg");
  background-repeat: no-repeat;
  background-position: right top;
  padding: 7rem;
  padding-top: 10rem;
  color: var(--white);
  margin-top: 3rem;
}

.top-img h1 {
  font-size: 57px;
  font-weight: 700;
}

/* About image */
.about-img {
  width: 606px;
}

/* wht-we-do-img */
.wht-we-do-img {
  width: 574px;
}
/*Client Logo*/
.client-logo {
  width: 100%;
  height: 13rem;
  background: var(--lightWhite);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  margin-top: 2rem;
}

/* Footer */

.footer {
  width: 100%;
  height: auto;
  background: var(--deepNavy);
  color: var(--white);
}

.footer-wrapper {
  padding: 7rem;
  padding-bottom: 0;
}

.email-icon {
  width: 40px;
  height: 40px;
  border-radius: 27px;
  background: var(--magenta);
  padding: 11px;
  padding-top: 8px;
  cursor: pointer;
}
.phone-icon {
  width: 40px;
  height: 40px;
  border-radius: 27px;
  background: var(--magenta);
  padding: 11px;
  padding-top: 8px;
  cursor: pointer;
}

.footer-icons {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background: var(--magenta);
  padding: 8px;
  padding-top: 3px;
  cursor: pointer;
  color: var(--white);
}
.footer-icons:nth-child(3) {
  padding: 6px;
  padding-top: 2px;
}
.footer-links {
  padding: 0;
}

.footer-links > li {
  margin-top: 1rem;
}
.footer-links > li > a {
  text-decoration: none;
  color: var(--white);
}

.footer .hr-line {
  width: 100%;
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: #4e5683;
  margin-top: 1.5rem;
  padding: 1rem;
}

/* ______________________________________ Media Query _________________________________________

---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
___________________________________________________________________________________________________
*/

@media only screen and (max-width: 1300px) {
  .about-img {
    width: 400px;
  }
  .wht-we-do-img {
    width: 400px;
  }
}
