@import url("style.css");
/* Top image */
.top-img {
  width: 100%;
  height: 384px;
  background: var(--deepNavy);
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 10rem;
  color: var(--white);
  margin-top: 5.9rem;
}

.top-img h1 {
  font-size: 57px;
  font-weight: 700;
}

.email-icon-contacts {
  width: 40px;
  height: 40px;
  border-radius: 27px;
  background: var(--magenta);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.phone-icon-contacts {
  width: 40px;
  height: 40px;
  border-radius: 27px;
  background: var(--magenta);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.map-icon-contacts {
  width: 40px;
  height: 40px;
  border-radius: 27px;
  background: var(--magenta);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--white);
}

.custom-modal-dialog {
  max-width: 483px;
  height: 488px;
}

.custom-modal-content {
  width: 100%;
  height: 488px;
  overflow-y: auto;
  background: var(--deepNavy);
  border-radius: 12px;
}

/* Contact Forms */
.contact-form {
  max-width: 30rem;
  min-height: 35.2rem;
  background: var(--deepNavy);
  color: var(--white);
  padding: 2rem;
  font-size: 25px;
  border-radius: 12px;
}

.captcha-container {
  width: 100% !important;
}
.contact-input {
  max-width: 385px;
  min-width: 250px;
  height: 60px;
  margin: 1rem;
}
.contact-input-textarea {
  max-width: 385px;
  min-width: 250px;
  height: 135px;
  margin: 1rem;
}

/* Input */
.contact-input input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 1rem;
  color: var(--white);
}
.contact-input-textarea textarea {
  width: 100%;
  height: 135px;
  background: transparent;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 1rem;
  padding-top: 1rem;
  color: var(--white);
  border: 1px solid #e0e0e0;
}

.contact-input input::placeholder {
  color: var(--white);
}
.contact-input-textarea textarea::placeholder {
  color: var(--white);
}

.submit-btn {
  max-width: 385px;
  min-width: 250px;
  height: 54px;
  margin: 1rem;
}
.contact-btn {
  width: 100%;
  height: 54px;
  background: var(--magenta);
  color: var(--white);
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

#map-section {
  box-sizing: border-box;
  height: 56rem;
}
.map-img {
  width: 100%;
  height: 53rem;
  background: var(--lightWhite);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.map-headding-mobile {
  display: none;
}
/* ______________________________________ Media Query _________________________________________

---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
___________________________________________________________________________________________________
*/

@media only screen and (min-width: 200px) and (max-width: 800px) {
  .top-img {
    width: 100%;
    height: 277px;
    background-image: linear-gradient(to right, #01253d 20%, transparent),
      url("../images/contacts_us-top-mobile-img.svg");
    padding-top: 5rem;
    background-size: cover;
  }
  .top-img div > h1 {
    font-size: 32px;
  }
  .wide-column {
    flex: 0 0 auto;
    width: 100%;
  }
  .contacts-headding1 {
    font-size: 30px;
    margin-top: 0 !important;
    margin-bottom: 1.5rem;
  }
  .contacts-para1 {
    font-size: 12px;
  }
  .social-icons {
    padding: 0 !important;
    margin-bottom: 3rem;
    font-size: 12px;
  }
  .social-icons :nth-child(3) {
    align-items: flex-start !important;
  }

  .email-icon-contacts {
    width: 24px;
    height: 24px;
    border-radius: 27px;
    background: var(--magenta);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
  }
  .phone-icon-contacts {
    width: 24px;
    height: 24px;
    border-radius: 27px;
    background: var(--magenta);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
  }

  .map-icon-contacts {
    width: 24px;
    height: 24px;
    border-radius: 27px;
    background: var(--magenta);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white);
    font-size: 12px;
  }
  /* Contact Forms */
  .contact-form {
    max-width: 30rem;
    height: 28.5rem;
    background: var(--deepNavy);
    color: var(--white);
    padding: 2rem;
    font-size: 25px;
    border-radius: 12px;
  }

  .contact-form h3 {
    font-size: 30px;
    margin-bottom: 0.5rem !important;
  }
  .contact-input {
    max-width: 385px;
    min-width: 250px;
    height: 42px;
    margin: 1rem;
  }
  /* Input */
  .contact-input input {
    width: 100%;
    height: 42px;
    background: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    font-size: 12px;
    padding-left: 1rem;
    color: var(--white);
  }
  .contact-input-textarea {
    height: 94px;
  }
  .contact-input-textarea textarea {
    width: 100%;
    height: 94px;
    background: transparent;
    border-radius: 12px;
    font-size: 12px;
    padding-left: 1rem;
    padding-top: 1rem;
    color: var(--white);
    border: 1px solid #e0e0e0;
  }
  .map-img {
    height: 24rem;
    background-position: top;
  }
  #map-section {
    height: 30rem;
  }
  .map-headding-mobile {
    font-size: 15px;
    font-weight: 600;
    display: block;
  }
  .map-headding-desktop {
    display: none;
  }
}
