@import url("style.css");
/* Top images */

.top-img {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(to right, #01253d 40%, transparent),
    url("../images/top-img.svg"); */
  background: var(--deepNavy);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  color: var(--white);
  padding-top: 10rem;
  font-size: 16px;
  margin-top: 5.9rem;
}

.top-img .headding {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.top-cards {
  min-width: 22rem;
  height: 17rem;
  background: var(--deepNavy);
  color: var(--white);
  padding: 2rem;
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.top-cards > div {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  font-size: 25px;
  font-weight: 600;
  line-height: 23px;
  color: var(--white);
  column-gap: 1rem;
}

.top-cards > div > div:first-child {
  border: 0;
  border-right: 2px;
  border-style: dashed;
  border-color: var(--white);
  padding-top: 0.7rem;
  padding-right: 1rem;
  font-size: 2rem;
  font-weight: 900;
}
/* .top-cards > div > div {
  width: 5rem;
  align-items: center;
} */

.intro-btn {
  padding: 1rem 2rem 1rem 2rem;
  background: var(--magenta) !important;
  border: none;
  transition: all 1s;
}
.intro-btn:hover {
  opacity: 0.9;
}
.top-introduction-img {
  width: 617px;
}

.introduction-mobile {
  display: none;
}

.center-img {
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 5rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.center-text-mobile {
  display: none;
}

.bottom-cards {
  min-width: 22rem;
  height: 21rem;
  color: var(--deepNavy);
  background: var(--white);
  border-radius: 12px;
  padding: 2rem;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}

.bottom-cards:hover {
  color: var(--white);
  background: var(--deepNavy);
}

.active-cards {
  color: var(--white);
  background: var(--deepNavy);
}
.bottom-cards .core-values-icon1 {
  width: 76px;
  height: 76px;
  /* background-image: url("../images/home-core-values1.svg"); */
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
.bottom-cards .core-values-icon2 {
  width: 76px;
  height: 76px;
  /* background-image: url("../images/home-core-values2.svg"); */
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
.bottom-cards .core-values-icon3 {
  width: 76px;
  height: 76px;
  /* background-image: url("../images/home-core-values3.svg"); */
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
.bottom-cards .core-values-icon4 {
  width: 76px;
  height: 76px;
  /* background-image: url("../images/home-core-values4.svg"); */
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
.bottom-cards .core-values-icon5 {
  width: 76px;
  height: 76px;
  /* background-image: url("../images/home-core-values5.svg"); */
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
.bottom-cards .core-values-icon6 {
  width: 76px;
  height: 76px;
  /* background-image: url("../images/home-core-values6.svg"); */
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.bottom-cards p {
  text-transform: capitalize;
}

/* Why choose */

.why-choose {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.para-why-choose-mobile {
  display: none;
}

/* ______________________________________ Media Query _________________________________________

---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
___________________________________________________________________________________________________
*/

@media only screen and (min-width: 200px) and (max-width: 800px) {
  .top-img {
    background-position: bottom;
    /* background-image: linear-gradient(to bottom, #01253d 45%, transparent),
      url("../images/top-img.svg"); */
    padding: 1rem;
    padding-top: 4rem;
    height: 33rem;
  }
  .top-img .headding {
    line-height: 37px;
    margin-bottom: 2rem;
    font-size: 32px;
  }
  .introduction-mobile {
    display: block;
  }
  .introduction-desktop {
    display: none;
  }
  .top-introduction-img {
    width: 360px;
  }
  .top-cards {
    padding-top: 3.5rem;
  }
  .top-cards > div > div:first-child {
    border: 0;
    border-right: 2px;
    border-style: dashed;
    border-color: var(--white);
    padding-top: 1.5rem;
    padding-right: 1rem;
    font-size: 3rem;
    font-weight: 900;
  }
  .top-cards > div > div:nth-child(2) {
    font-size: 25px;
    line-height: 33.63px;
  }
  .top-cards p {
    font-size: 12px;
  }
  .center-img {
    height: 10rem;
  }
  .center-text-mobile {
    display: block;
  }
  .center-text-desktop {
    display: none;
  }
  .bottom-cards {
    margin-top: 1rem;
  }
  .bottom-cards .core-values-icon1 {
    width: 70px;
    height: 69px;
    background-size: cover;
  }
  .bottom-cards .core-values-icon2 {
    width: 70px;
    height: 69px;
    background-size: cover;
  }
  .bottom-cards .core-values-icon3 {
    width: 70px;
    height: 69px;
    background-size: cover;
  }
  .bottom-cards .core-values-icon4 {
    width: 70px;
    height: 69px;
    background-size: cover;
  }
  .bottom-cards .core-values-icon5 {
    width: 70px;
    height: 69px;
    background-size: cover;
  }
  .bottom-cards .core-values-icon6 {
    width: 70px;
    height: 69px;
    background-size: cover;
  }
  .bottom-cards {
    height: 16rem;
  }
  .bottom-cards h3 {
    font-size: 25px;
    margin-bottom: 0.5rem !important;
    font-weight: 500;
  }
  .bottom-cards p {
    font-size: 12px;
  }

  .why-choose > h3 {
    font-weight: 600;
    font-size: 30px !important;
  }
  .why-choose-child h3 {
    font-size: 18px !important;
    margin-bottom: 0.5rem;
  }
  .para-why-choose-mobile {
    display: block;
    font-size: 12px;
  }
  .para-why-choose-desktop {
    display: none;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .top-img .headding {
    font-size: 2rem;
  }
  .introduction-mobile {
    display: none;
  }

  .top-introduction-img {
    width: 617px;
  }
  .center-text-mobile {
    display: block;
  }
  .center-text-desktop {
    display: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .top-img .headding {
    font-size: 4.5rem;
  }
  .introduction-mobile {
    display: none;
  }

  .top-introduction-img {
    width: 617px;
  }
}
