@import url("style.css");
.top-img {
  width: 100%;
  height: 384px;
  /* background-image: linear-gradient(to right, #01253d 20%, transparent),
    url("../images/products-top-img.svg"); */
  background: var(--deepNavy);
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 10rem;
  color: var(--white);
  margin-top: 5.9rem;
}

.top-img h1 {
  font-size: 57px;
  font-weight: 700;
}

.product-btn {
  min-width: 6.4rem;
}
.product-btn button {
  width: 100%;
  height: 50px;
  padding: 14px 0px 18px 0px;
  color: var(--deepNavy);
  background: var(--lightWhite);
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

.product-btn .active-btn {
  background: var(--deepNavy);
  color: var(--white);
}

.active-btn:hover {
  opacity: 0.9;
  transition: 0.5s;
}

.pro-img {
  min-width: 22rem;
  height: 20rem;
  background: var(--lightWhite);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  transition: all 0.5s;
  cursor: pointer;
  opacity: 0;
  animation: fadeInBackground 1s ease-in-out forwards;
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pro-img:hover {
  transform: scale(0.9);
}

.unboxing-shoes-img1 {
  min-width: 23rem;
  height: 33rem;
  background: var(--lightWhite);
  /* background-image: url("../images/products-mens-boys1.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.unboxing-shoes-img2 {
  min-width: 23rem;
  height: 33rem;
  background: var(--lightWhite);
  /* background-image: url("../images/products-mens-boys2.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.unboxing-shoes-img3 {
  min-width: 23rem;
  height: 33rem;
  background: var(--lightWhite);
  /* background-image: url("../images/products-mens-boys3.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ______________________________________ Media Query _________________________________________

---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
___________________________________________________________________________________________________
*/

@media only screen and (min-width: 200px) and (max-width: 800px) {
  .top-img {
    height: 247px;
    padding-top: 5rem;
    background-image: linear-gradient(to right, #01253d 20%, transparent),
      url("../images/products-top-mobile-img.svg");
    background-size: cover;
  }
  .top-img div > h1 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}
