@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}
:root {
  --magenta: #eb143e;
  --white: #ffff;
  --gray: #666c89;
  --deepNavy: #01253d;
  --lightWhite: #f4f4f4;
  --darkBlue: #1c1f35;
}

/* Text colors */
.text-magenta {
  color: var(--magenta);
}
.text-gray {
  color: var(--gray);
}
.text-dark-blue {
  color: var(--darkBlue);
}
.text-deepNavy {
  color: var(--darkBlue);
}

/* Bg colors*/
.bg-magenta {
  background: var(--magenta);
}
.bg-lightWhite {
  background: var(--lightWhite);
}
.bg-deep-navy-blue {
  background: var(--deepNavy);
}
.nav-item {
  text-transform: uppercase;
}

.navbar-nav .nav-link.active {
  color: var(--magenta) !important;
  font-weight: 700 !important;
}

.navbar-nav .nav-link:hover {
  color: var(--magenta) !important;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--deepNavy);
}

textarea {
  resize: none;
}

.is-mobile {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*Client Logo*/
.client-logo {
  width: 100%;
  height: 18rem;
  white-space: nowrap;
  overflow: hidden;
  background: var(--lightWhite);
  display: flex;
  align-items: center;
}

.client-logo .gallery {
  display: inline-block;
  animation: loop infinite linear 20s;
}

.client-logo .gallery img {
  margin: 0rem 3rem;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Footer for desktop */

.footer {
  width: 100%;
  height: auto;
  background: var(--deepNavy);
  color: var(--white);
}

.email-icon {
  width: 45px;
  height: 45px;
  border-radius: 27px;
  background: var(--magenta);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.email-icon i {
  font-size: 23px;
}
.phone-icon {
  width: 45px;
  height: 45px;
  border-radius: 27px;
  background: var(--magenta);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.phone-icon i {
  font-size: 20px;
}

.map-icon {
  width: 40px;
  height: 40px;
  border-radius: 27px;
  background: var(--magenta);
  padding: 13px;
  padding-top: 8px;
  cursor: pointer;
  color: var(--white);
}

.footer-icons {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background: var(--magenta);
  cursor: pointer;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons i {
  font-size: 25px;
}
.footer-links {
  padding: 0;
}

.footer-links > li {
  margin-top: 1rem;
}
.footer-links > li > a {
  text-decoration: none;
  color: var(--white);
}

.footer .hr-line {
  width: 100%;
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: #4e5683;
  margin-top: 1.5rem;
  padding: 1rem;
}
/* 
.footer-icons-mobile {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #4e5683;
} */

/* hr line for mobile */
.hr-line-mobile {
  display: none;
  border-top: 1px solid #4e5683;
}
/* Footer for mobile */
.footer-mobile {
  display: none;
}

@media only screen and (min-width: 200px) and (max-width: 800px) {
  .footer-mobile {
    display: block;
  }
  .footer-desktop {
    display: none;
  }

  .email-icon {
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background: var(--magenta);
    cursor: pointer;
  }
  .phone-icon {
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background: var(--magenta);
    cursor: pointer;
  }

  .map-icon {
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background: var(--magenta);
    padding: 7px;
    padding-top: 1px;
    cursor: pointer;
    color: var(--white);
  }
  .email-icon i,
  .phone-icon i,
  .map-icon i {
    font-size: 14px;
  }

  .footer .hr-line {
    padding: 1.4rem 0 1.4rem 0rem;
  }
  .top-bar {
    min-height: 78px !important;
  }
  .client-logo {
    height: 10rem;
  }
  .client-logo .gallery img {
    margin: 0rem 1rem;
    width: 75px;
  }
  .footer-icons {
    width: 27px;
    height: 27px;
    border-radius: 25px;
    background: var(--magenta);
    cursor: pointer;
    color: var(--white);
  }
  .footer-icons i {
    font-size: 15px;
  }
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .footer-mobile {
    display: none;
  }
}
